.main_body_wrapper {
  height: 90vh;
  background-position: center;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.25);
}

.text_wrapper{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing_page_text_color{
  padding-top: 100px;
  text-align: center;
  color:rgb(255, 0, 0);
}

.landing_page_button{
}

.sign_up_button{
  display: flex;
  justify-content: center;
}

.log_in_button{
  display: flex;
  justify-content: center;
}

.landingCard{
  padding: 35px;
  border: none;
  background-color: rgba(36, 36, 36, 0);
  height: 60vh;
  margin: 50px;
  color: rgb(0, 188, 9);
  backdrop-filter: blur(3px);
}